{% extends 'main.html' %}

{% block content %}

<h1>SleepLovers - блог о сне для тех, кто хочет иметь здоровый и качественный отдых</h1>
<h2>Ещё не зарегистрирован? Тогда нажми на "Профиль" в верхней части страницы и зарегистрируй свой аккаунт!</h2>
<p>Знали ли вы, что человек во сне проводит 36% всей жизни во сне? 
    Если считать с расчетом на года, то получится, что "в спячке" мы проводим 27 лет!
    Хороший сон играет важную роль в нашей жизни. Это время для восстановления и регенерации организма. 
    Здоровый сон помогает укрепить наш иммунитет, улучшает наше настроение и повышает нашу продуктивность. 
    И чтобы достичь качественного сна, нужно придерживаться определенных правил. 
    Именно для этого создан наш блог - здесь вы можете прочитать последние новости из "мира сновидений", 
    изучить новейшие исследования в этой области и приобрести товары, необходимые для качественного крепкого сна.
    Какой же сон является качественным и крепким? Переходите в раздел "Лента", чтобы узнать ;)</p>
<h3>Опросы:</h3>
{% for poll in polls %}
<hr>
<p>{{poll.id}} -- <a href="{% url 'poll' poll.id %}">{{poll.question_text}}</a></p>
{% endfor %}
{% endblock %}